<div class="card">
  <%= link_to image_tag(coson.image, class: :card__img), coson_path(coson.id), method: :get%>
  <div class="card__body">
    <%= link_to coson.title,coson_path(coson.id), method: :get, class: :card__title%>
    <p class="card__summary">
      <%= coson.info %>
    </p>
    <%= link_to "by #{coson.user.name}", root_path, class: :card__user %>
  </div>
</div>